<!DOCTYPE html>
<html>
    <head>
        <title>Create HOD account</title>
    </head>
    <body>
        <h1>Hello {{request.user}}</h1>
        <button type="submit"><a href="/hodentry">Create a new HOD account</a></button>
        <button type="submit"><a href="/facultyentry">Create a new Faculty account</a></button>
        <button type="submit"><a href="/studententry">Create a new Student account</a></button>
        <button type="submit"><a href="/adminentry">Create a new Admin account</a></button>
        
        <button type="submit"><a href="/adminsignout">SignOut</a></button>
    </body>
</html>