<!DOCTYPE html>
<html>
    <head>
        <title>FACULTY SIGNIN</title>
    </head>
    <body>
        <h1>Faculty Sign In</h1>
        <form action="" method="post">
            {% csrf_token %}

            <label for="faculty_id">Enter Id</label>
            <input type="text" id="faculty_id" name="faculty_id" placeholder="ID" required>
            <br>
         
            <label for="password">Password</label>
            <input type="text" id="password" name="password" placeholder="Enter password" required>
            <br>
            <button type="submit">Confirm</button>
        </form>
    </body>
</html>