<!DOCTYPE html>
<html>
    <head>
        <title>HOD SIGNIN</title>
    </head>
    <body>
        <h1>Sign In</h1>
        <form action="" method="post">
            {% csrf_token %}

            <label for="student_id">Enter Id</label>
            <input type="text" id="student_id" name="student_id" placeholder="ID" required>
            <br>
         
            <label for="">Password</label>
            <input type="text" id="password" name="password" placeholder="Enter password" required>
            <br>
            <button type="submit">Sumbit</button>
        </form>
    </body>
</html>